logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*-shim.sbt
.sbtserver
project/.sbtserver
build.sbt
project/sbt-ui.sbt
project/play-fork-run.sbt
project/.sbtserver.lock