#footer {
    background-color: white;
}

#content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#navbar {
    background-color: red;
}

.inline-icon {
    vertical-align: -20%;
    height: 20px;
}

body {
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
}