@(title: String)(content: Html)

<!DOCTYPE html>

<html>

    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>

    <body>

        <div id="navbar">
            [<a href="/">index page</a>]
            [<a href="/time">time</a>]
            [<a href="/timer/status">timer status</a>]
            [<a href="/jbs">Jeremy</a>]
        </div>

        <div id="content">
        @content
        </div>

        <div id="footer">
            A footer goes here...
        </div>
    </body>
</html>
